
body{
	background-color: #000000;
}
.container-fluid{
	padding: 0;
}
h1{
	color:#fff;
	text-shadow: 2px 1px #cf0000;
}
h3{
	color: #fff;
	display: inline-block;
	padding-right: 20px;

}
footer{
	position: relative;
	bottom: 0;
	background-color: gray;
	padding: 5px 0 5px 0;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	font-size: 20px;
	text-align: center;
}
a{
	text-decoration: none;

}
a:hover {
    text-decoration: none;
    color: #fff;
}

.well{
	height: 450px;
	margin-left: 350px;
	margin-right: 350px;
}
.col-sm-4{
	background-color: white;
	height:133px;
	border:3px solid black;
	margin:0;
}
.row{
	margin: 0;
}

@media screen and (max-width: 480px) {

	.well{
		height: auto;
		width: 100%;
		margin:0;
	}
	.col-sm-4{
		background-color: white;
		height:80px;
		width:33%;
		border:3px solid black;
		margin:0;
	}
	.row{
		margin: 0;
	}
}